.container{
    width: 650px;
    height: 390px;
    position: relative;
    outline: 1px solid black;
    padding: 1% 1% 2%;
}

.closeBtn{
    position: absolute;
    top: 2%;
    right: 1%;
}

.logo{

}
